  <div class="container" style="border: 2px solid black; padding: 10px 10px;">
      <div class="row">
        <div class="col-md-2">
            <div class="logo-shield">
              <img src="http://redonion.se/cssgrid/images/logo-shield155.png" href="/" class="img-logo">
            </div>
        </div>
        <div class="col-md-10">
          <div class="publisher_name">
            <img src="http://redonion.se/cssgrid/images/logo-cleanup.svg" href="/" class="img-label">
            <div class="tagline" style="padding: 5px 0 0 0;">THE WIZARD WORLD'S BEGUILING BROADSHEET OF CHOICE</div>
          </div>
        </div>
      </div>
  </div>