<br>
<div class="container">
<div class="row">
  <div class="col-md-1m">
    <a class="navbar-brand navbar-brand-new rowsr" href="/"><u>Home</u></a>
  </div>
  <div class="col-md-1m">
    <a class="navbar-brand navbar-brand-new rowsr" href="/news/trending"><u>Trending</u></a>
  </div>
  <div class="col-md-1m">
    <a class="navbar-brand navbar-brand-new rowsr" href="/news/worldnews"><u>World News</u></a>
  </div>
  <div class="col-md-1m">
    <a class="navbar-brand navbar-brand-new rowsr" href="/news/sports"><u>Sports</u></a>
  </div>
  <div class="col-md-1m">
    <a class="navbar-brand navbar-brand-new rowsr" href="/user/weather"><u>Weather</u></a>
  </div>
  <div class="col-md-1m">
    <a class="navbar-brand navbar-brand-new rowsr" href="/user/contactus"><u>Contact Us</u></a>
  </div>
  <div class="col-md-1m">
    <a class="navbar-brand navbar-brand-new rowsr" href="/aboutus"><u>About Us</u></a>
  </div>
  <div class="col-md-1m">
    <a class="navbar-brand navbar-brand-new rowsr" href="/user/login"><u>Login</u></a>
  </div>
</div><br>