<style>
  .new-nav{
    font-size: medium; margin-top:0.5rem;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light1">
  <div class="container-fluid" style="justify-content: flex-start;">
        <a class="navbar-brand" href="/admin">Update 24x7 Admin</a>
        <a class="navbar-brand navbar-brand-new new-nav" href="/admin"><u>Register</u></a>
        <a class="navbar-brand navbar-brand-new new-nav" href="/admin/addnews"><u>Add News</u></a>
        <a class="navbar-brand navbar-brand-new new-nav" href="/admin/editnews"><u>Edit News</u></a>
        <a class="navbar-brand navbar-brand-new new-nav" style="margin-left: 50rem;" href="/" name="logout"><u>Logout</u></a>
  </div>
</nav>